@page "/"
@using RowDetailTemplate.Models;
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper;
<style>
    #img-wrapper {
        position: relative;
        display: inline-block;
    }

    img {
        height: 60px;
        width: 60px;
        vertical-align: baseline;
    }

    #details {
        display: inline-block;
    }

    td {
        border-bottom: 0.5px solid #e0e0e0;
    }
    /* .customcolor{
            background-color: #d3d3d3;
        }
        .customcellcolor{
            background-color: aqua;
        }*/
</style>
<SfTreeGrid DataSource="@TreeGridData" IdMapping="EmployeeID" ParentIdMapping="ParentId" TreeColumnIndex="0" RowHeight="83">
    <TreeGridTemplates>
        <RowTemplate>
            @{
                var employeeDetails = (context as Employee);
                <td>
                    <RowTemplateTreeColumn>@employeeDetails.EmpID</RowTemplateTreeColumn>
                </td>
                <td>@employeeDetails.Name</td>
                <td>
                    <div id="img-wrapper">
                        <img src="@UriHelper.ToAbsoluteUri($"images/{employeeDetails.EmpID}.png")" alt="@employeeDetails.EmpID" />
                    </div>
                    <div id="details">
                        <div>@employeeDetails.Address</div>
                        <div>@employeeDetails.Country</div>
                        <div>@employeeDetails.Contact</div>
                    </div>
                </td>
                <td>@employeeDetails.Designation</td>
            }
        </RowTemplate>
        @*<DetailTemplate>
        @{
        var employeeDetails = (context as Employee);
        <div style="padding-left:20px">
        <div id="img-wrapper">
        <img src="@UriHelper.ToAbsoluteUri($"images/{employeeDetails.EmpID}.png")" alt="@employeeDetails.EmpID" />
        </div>
        <div id="details">
        <div>@employeeDetails.Address</div>
        <div>@employeeDetails.Country</div>
        <div>@employeeDetails.Contact</div>
        </div>
        </div>
        }
        </DetailTemplate>*@
    </TreeGridTemplates>
    <TreeGridColumns>
        <TreeGridColumn Field="EmpID" HeaderText="Employee ID" Width="160"></TreeGridColumn>
        <TreeGridColumn Field="Name" HeaderText="Employee Name" Width="160"></TreeGridColumn>
        <TreeGridColumn Field="Address" HeaderText="Employee Details" Width="370"></TreeGridColumn>
        <TreeGridColumn Field="Designation" HeaderText="Designation" Width="180"></TreeGridColumn>
        @*<TreeGridColumn Field="Country" HeaderText="Country"></TreeGridColumn>*@
    </TreeGridColumns>
    @*<TreeGridEvents RowDataBound="CustomRow" TValue="Employee" QueryCellInfo="CustomCell"></TreeGridEvents>*@
</SfTreeGrid>

@code {
    public IEnumerable<Employee> TreeGridData { get; set; }
    protected override void OnInitialized()
    {
        this.TreeGridData = Employee.GetTemplateData();
    }

    //public void CustomCell(QueryCellInfoEventArgs<Employee> args)
    //{
    //    if(args.Column.Field == "Country" && args.Data.Country == "USA")
    //    {
    //        args.Cell.AddClass(new string[] { "customcellcolor" });
    //    }
    //}

    //public void CustomRow(RowDataBoundEventArgs<Employee> args)
    //{
    //    if(args.Data.Country == "UK")
    //    {
    //        args.Row.AddClass(new string[] { "customcolor" });
    //    }
    //}
}